  .contenedor-fichaDejuegos {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10%;
    margin: 5%

}

.lista-fichaDejuegos li {
    list-style-type: none;
}

.contenedor-fichaDejuegosImagen{

}
.fichaDejuegosImagenes{
    height: 100px;
    object-fit: fill;
}


.contenedor-fichaDejuegosTexto{

}

.contenedor-fichaDejuegosBotones{

}

.lista-fichaDejuegos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}